header {
  width: 100%;
}


h1 {

}
input {
    height: 30px;
    margin-right: 10px;
    font-size: 18px;
}
.container {
  width: 100%;
}

.innerContainer {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

#userInputDiv {
  font-size: 1.3em;
  width: 100%;
  height: 55px;
}
#userInputDiv,
#tasksDiv {
  width: 100%;
}
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.taskRow td {
    font-size: 18px;
    padding: 5px;
}

td.actionButton {
    width: 20px;
}
td.completeBox {
    width: 50px;
    text-align: center;
    vertical-align: middle;
}
tr.taskRow.statusComplete {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
tr th {
    padding: 5px;
}
tr.taskRow {
  background-color:#F9F9F9;
border:1px solid #EEEEEE;
position:relative;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
}
tr td {
margin: 10px 0;
}
